:root {
    background-color: #F3F5EE;
    color: #1E241A;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
